{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock  %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block css_files %}

        {% endblock  %}
        <link rel="stylesheet" href="{% static 'app.css' %}">
    </head>
    <body>
        <header id="main-navigation">
            <h1><a href="{% url 'starting-page' %}">Sonu's Blog</a></h1>
            <nav>
              <a href="{% url 'read-later' %}">Stored Posts</a>
              <a href="{% url 'posts-page' %}">All Posts</a>
            </nav>
          </header>

        {% block content %}
        {% endblock  %}
        

    </body>
</html>